<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mills House Applications</title>
    <link rel="icon" href="/static/images/M.webp" type="image/x-icon">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="dashboard-container">
        <h1>Mills House Applications</h1>

        <!-- Tiles Container -->
        <div class="tiles-container" id="tiles-container"></div>

        <!-- Add New Tile Button as a tile -->
        <div id="addTileButton" class="tile add-tile">
            <div class="tile-content">
                <img src="/static/images/plus-icon.webp" alt="Add Icon" class="tile-icon">
                <h2 class="tile-title">+ Add New Application</h2>
            </div>
        </div>
    </div>

    <!-- Form Modal -->
    <div id="formModal" class="modal" style="display:none;">
        <div class="modal-content">
            <form id="newTileForm">
                <h2>Add New Application</h2>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="url">URL:</label>
                <input type="url" id="url" name="url" required>

                <label for="icon">Icon URL:</label>
                <input type="text" id="icon" name="icon" required>

                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>

                <!-- Password Field -->
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <div class="form-buttons">
                    <button type="submit">Submit</button>
                    <button type="button" onclick="closeForm()">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <script src="static/js/scripts.js"></script>
</body>
</html>
